- content_for :admin_tools do
  - unless @shoot.video_processing
    - if @shoot.published?
      This video is published
    - else 
      This video is saved as a draft
      = link_to 'Publish', publish_admin_shoot_path(@shoot), method: :patch
  = link_to 'edit', edit_admin_shoot_path(@shoot)
  = link_to 'delete', admin_shoot_path(@shoot), method: :delete

#display
  = render partial: "display", locals: {video: @shoot}